# Things that shouldn't be on my repo :p
*.txt
*.json
*.db
*.bat
twi_secrets.py

# VSCode and other
.vscode/
.venv

# Getting rid of the annoying pycache and cpy files
**/__pycache__
*.pyc
# tmp for if vs code doesn't delete temp files
**/*.tmp